<!DOCTYPE html>
<html>
    <head>
        <link href="./style.css" rel="stylesheet">
        <title>Register</title>
        <script src="https://kit.fontawesome.com/4e4c23d5e2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Successfuly Exited</h1>
    </body>
</html>